body {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #fbeaff;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c73d2;
}
.buttons {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
#time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  color: #4b4453;
  font-size: 50px;
}
#reset,
#start,
#stop {
  border: 2px solid black;
  padding: 10px;
  color: #008e9b;
  background-color: #4b4453;
  border-radius: 40%;
}
#reset:hover,
#start:hover,
#stop:hover {
  color: blueviolet;
  background-color: #fbeaff;
}
